.set-list {
  text-align: left;
  list-style-type: none;
}

.set {
  font-family: "Courier";
  padding: 2em;
  max-width: 55%;
}

.link-title {
  font-size: 2em;
  text-decoration: none;
  color: white;
  background: black;
}

.link-title:hover {
  text-decoration: underline;
  background: white;
  color: black;
}

.time {
  color: white;
  padding-top: 1em;
}
